nav {
    background-color: rgb(20, 17, 228);
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 5px 0px 5px 30px;
    overflow: hidden;
    border-radius: 0px;
}

nav .navbar-brand {
    background-color: rgb(20, 17, 228);
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin:0px 50px;
}

nav a.Nav-Link{
    color: #212121;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px 15px !important;
}

nav a{
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(10, 9, 59);
    transition: .2s ease-in-out;
}

nav a.first{
    background-color: rgb(73, 71, 199);
    color: #fff !important;

}