<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <title>My Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" sizes="32x32" type="image/png" href="{{ url_for('static', filename='')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='')}} ">
</head>
<nav>
    <h3>ROME</h3>
    <ul>
        <li> 
            <a href="#Home">Home</a>
        </li>
        <li>
            <a href="#About">About</a>
        </li>
        <li>
            <a href=#Contact>Contacts</a>
        </li>
    </ul>
</nav>
<header>

</header>
<body>
   <section class="features">
        <h2>Features</h2>
        <p>Some of the features Rome has:
            Rome, can make you laugh with jokes,
            He/she is your Friend and yu can chat about anything.
            Play games with Rome(This feature is yet to be added)

        </p>
    <div>
        <p>We decided to create a simple chatbot that anyone can have a conversation with. 
            This is because we had realised that most people in this life people dont open up to others very easily.
            Rome is a platform is a bot that u can tell anything and they will have no problem trusting Rome.
        </p>

    </div>
   </section>
    <section class="contact">
        <h1>Contact</h1>
        <p>To contact us or see more of our work click on:</p>
        <ul>
            <li href="">Twitter</li>
            <li href="">LInkedIn</li>
            <li href="">Github</li>

        </ul>
    </section>
    <footer>
        <p>To view the repository click on</p>
        <a href="">Github</a>
    </footer>
</body>


</html>