<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <title>My Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='')}}">
</head>
<header>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img style="max-width: 120px; margin-top: -7px;" src="{{url_for('static', filename='')}}">
        Rome</a>
        <button class="nav-bar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="nav-toggler-icon"></span>
        </button>

        <div class="collapse nav-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Right Align">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="'container-fluid">
        <a href="/dashboard/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px;">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Start Chatting With Rome
        </button></a>
        <ul class="nav navbar-nav navbar-right">
        <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px; " class="container-fluid">
            <h5>
                <a href="/features/"><span class="glyphicon glyphicon-heart">Features</span></a>
            </h5>
        </div>
        </ul>

    </div>
        
</header>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous""></script>
    <script type="text/javascript" src="{{ url_for('static', filename='')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div>
        <h2>Features</h2>
        <p>Some of the features Rome has:
            Rome, can make you laugh with jokes,
            He/she is your Friend and yu can chat about anything.
            Play games with Rome(This feature is yet to be added)

        </p>
    </div>
    <div>
        <p>We decided to create a simple chatbot that anyone can have a conversation with. 
            This is because we had realised that most people in this life people dont open up to others very easily.
            Rome is a platform is a bot that u can tell anything and they will have no problem trusting Rome.
        </p>

    </div>
    <div>
        <h1>Contact</h1>
        <p>To contact us or see more of our work click on:</p>
        <ul>
            <li href="">Twitter</li>
            <li href="">LInkedIn</li>
            <li href="">Github</li>

        </ul>
    </div>
    <footer>
        <p>To view the repository click on</p>
        <a href="">Github</a>
    </footer>
</body>


</html>