<!DOCTYPE html>
<html>
<head>
    <title>My Homepage</title>
</head>
<body>
    <div>
        <nav>
            <li href="">Home</li>
            <li href="">About</li>
            <li href="">Contact</li>
        </nav>
        <img>
        <h1>Looking for a friend to talk to, Rome is here for you. To talk to Rome, Click below</h1>
        <button>ROME</button>
    </div>
    <div>
        <h2>Features</h2>
        <p>Some of the features Rome has:
            Rome, can make you laugh with jokes,
            He/she is your Friend and yu can chat about anything.
            Play games with Rome(This feature is yet to be added)

        </p>
    </div>
    <div>
        <p>We decided to create a simple chatbot that anyone can have a conversation with. 
            This is because we had realised that most people in this life people dont open up to others very easily.
            Rome is a platform is a bot that u can tell anything and they will have no problem trusting Rome.
        </p>

    </div>
    <div>
        <h1>Contact</h1>
        <p>To contact us or see more of our work click on:</p>
        <ul>
            <li href="">Twitter</li>
            <li href="">LInkedIn</li>
            <li href="">Github</li>

        </ul>
    </div>
    <footer>
        <p>To view the repository click on</p>
        <a href="">Github</a>
    </footer>
</body>


</html>