html{
    font-family: 'Times New Roman', Times, serif;
    background: white;
    padding: 1px;
    scroll-behavior: smooth;
}

body{
    max-width: 960px; 
    margin: 0 auto; 
    background: whitesmoke;
}

h3{
    font-family: serif; 
    color: black; 
    margin: 1rem 0;
}

nav{
    background: aquamarine; 
    display: flex; 
    align-items: center; 
    padding: 0 0.5rem; 
}

nav h3{
    flex: auto;
    margin: 0px; 
    text-decoration: none; 
    padding: 0.25rem 0.5rem; 
}

a{
    color: black;
    text-size-adjust: 5px;
}

nav h3 a { 
    text-decoration: none; 
    padding: 0.25rem 0.5rem; 
}
nav ul li a, nav ul li{ 
    display: block; 
    padding: 0.5rem; }

nav ul{
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
    align-items: right;
}

nav ul li a {
    display: block; padding: 0.5rem; 
}

ul{
    align-items: flex-end;
}

